<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../code/lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="di">
        <select name="" id="" v-model="er">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="sa">
        <button @click="qq">=</button>
        <input type="text" v-model="si">
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                di: 0,
                er: '+',
                sa: 0,
                si: 0
            },
            methods: {
                qq() {
                    switch (this.er) {
                        case "+":
                            this.si = parseInt(this.di) + parseInt(this.sa);
                            break;
                        case "-":
                            this.si = this.di - this.sa;
                            break;
                        case "*":
                            this.si = this.di * this.sa;
                            break;
                        case "/":
                            this.si = this.di / this.sa;
                            break;
                    }
                }
            }
        })
    </script>
</body>

</html>